* {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
    font-size: 102%;
}

p {
    color: #909090;
}

*:focus {
    outline: 0 !important;
}

html {
    scroll-behavior: smooth;
}

.empty-anchor-custom {
    text-decoration: none;
    color: #909090;
    background-color: transparent;
    border: none;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.vertical-bar {
    height: 3rem;
    width: 1px;
    background-color: #d1d1d1;
    margin: 1rem;
}

body {
    width: 100%;
    background-color: #ffffff;
    background-size: cover;
    overflow-x: hidden;
}

.react-link {
    padding: .5rem .9rem .5rem .5rem;
    border-radius: 22px;
    color: #909090;
    text-decoration: none;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.react-link:hover {
    background-color: rgba(55,55,55,.1);
    text-decoration: none;
}

.anchor-custom {
    text-decoration: none;
    color: #909090;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
}

.anchor-custom:hover {
    color: #00a78d;
    text-decoration: none;
}

.welcome-box {
    height: 100vh;
    display: flex;
    margin: 0;
    background: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.scroll-down-link {
    opacity: 0;
    transition: all .2s ease-in;
    animation: loading-bar 2s ease-in 1s;
    animation-fill-mode: forwards;
}

.scroll-down-link:hover {
    transform: translateY(.2rem);
}

a {
    color: #909090;
    text-decoration: none !important;
    transition: all .2s ease-in;
}

.flex-container {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    flex-wrap: wrap;
}

.width-100 {
    margin: 1rem calc(50% - 3rem);
    width: 6rem;
}

.demonstration {
    margin-top: 1rem;
}

.underline-text {
    border-bottom: 4px solid #00ada7;
    padding-bottom: 12px;
    text-align: center;
}

.project-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
    flex-direction: column;
    margin: 0 1rem 1rem 1rem;
    width: 20rem;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
    transition: all .1s ease-in;
}

.project-container a {
    display: inline !important;
}

#resume {
    position: absolute;
    top: 100%;
}

.width-100-true {
    width: 100%;
    text-align: center;
}

.padding {
    padding: 2rem 0;
}

.project-container p {
    text-align: center;
}
.project-container:hover {
    transform: scale(1.04);
}

.demonstration::before {
    content: '\f0c1';
    font-family: FontAwesome;
}

a:hover {
    color: #00a78d;
}

.open-navbar-btn {
    margin-top: .4rem;
    margin-left: .5rem;
    margin-right: auto;
}

.open-navbar-btn {
    cursor: pointer;
}

.open-navbar-btn::after {
    font-size: 1.3rem;
    margin-top: .2rem;
    content: '\f142';
    display: flex;
    font-family: FontAwesome;
}

.active-btn {
    margin-bottom: 3.4rem;
    color: #909090;
    height: 3rem;
    border-width: 3px;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    transition: all .2s ease-in;
}

.header-1 {
    font-size: 300%;
    padding: 0 2rem;
    font-weight: 200;
    white-space: nowrap;
    color: #909090;
    animation: loading-bar 2s ease-in;
}

.react-brand {
    margin-right: .35rem;
}

.react-brand::before {
    content: '\f41b';
    font-family: FontAwesome;
}

.fab {
    margin-right: .35rem;
}

.profile-text {
    display: inline !important;
    text-align: center;
    margin: 0 3rem;
}

.accordion-container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}

.accordion-open {
    height: 1.6rem;
    overflow: hidden;
    opacity: 1;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.accordion-close {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    border-top: 1px solid #d1d1d1;
    background-color: #fff;
}


.profile-p {
    display: inline-block !important;
}

.container-welcome {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: loading-bar 4s linear;
}

.div-fill {
    height: 1.4rem;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.div-fill-no {
    height: 0;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.text-top {
    font-size: 230%;
    color: #555;
    padding: 2%;
    text-align: center;
    margin: 2% 0;
}

.padding-bottom {
    padding-bottom: 1.5rem;
}

.container-button {
    background-color: transparent !important;
    border: 2px solid white;
    border-radius: 2px;
    font-size: 200%;
    color: white !important;
    padding: 2% !important;
}

.anchor-custom {
    padding-top: 20vh;
}

.resume::before {
    display: inline;
    padding-right: .35rem;
    content: "\f15c";
    font-family: FontAwesome;
    border-radius: 8px;
}

.github::before {
    display: inline;
    padding-right: .35rem;
    content: "\f092";
    font-family: FontAwesome;
}

.notepad::before {
    display: inline;
    padding-right: .35rem;
    content: "\f07b";
    font-family: FontAwesome;
}

.post {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2%;
    width: 16rem;
    color: black;
    max-width: 80%;
    text-align: center;
}

.caret-down::after {
    font-family: FontAwesome;
    content: '\f0d7';
}

.post-head {
    text-align: center;
    padding: 1rem;
    width: 100%;
    color: white;
    background-color: #00a78d;
    border: none;
    margin-bottom: 1rem;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    border-radius: 3px;
}

.post-head:focus {
    outline: 0;
}

.post-head:hover {
    cursor: pointer;
    background-color: rgba(0, 167, 141, .8);
    transform: scale(1.1);
}

.profile-pic {
    background-image: url("./static/profile-pic.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10rem;
    height: 10rem;
    border-radius: 50rem;
    margin-bottom: 2rem;
    margin-top: -8rem;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.profile-pic:hover {
    transform: scale(1.05);
    filter: contrast(150%);
    cursor: pointer;
}

.footer {
    display: flex;
    border-top: 1px solid #d1d1d1;
    justify-content: center;
    align-items: center;
    height: 6rem;
    color: #fff;
}

.navbar-container {
    display: flex;
    background-color: transparent;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    flex-direction: column;
}

hr {
    background-color: #d1d1d1;
    height: 2px;
    width: 90%;
    margin: auto 5% 0 5%;
    padding: 0 !important;
    border: none;
}

.navbar-open {
    height: 4.5rem !important;
}

.navbar-close {
    height: 0 !important;
}

.navbar {
    display: flex;
    overflow: hidden;
    background-color: white;
    transition: all .2s ease-in;
    height: 0;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 5%;
    z-index: 50;
    justify-content: center;
    align-items: center;
}

.nav-border-bottom {
    background-color: #00a78d;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 1rem
}

.nav-link {
    margin-top: 1rem;
    color: #a0bcc1;
    text-decoration: none;
    padding: .3rem 1rem;
    transition: all .2s ease-in-out;
    display: inline-block;
}

.nav-link:hover {
    color: #00a78d;
}

.download-anchor {
    text-decoration: none;
    border-radius: 3px;
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: transparent;
    border: 2px solid #1a1a1a;
    color: #1a1a1a;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.download-anchor:hover {
    background-color: #1a1a1a;
    color: #fff;
    text-decoration: none;
}

@keyframes loading-bar {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
